.app {
   margin: auto;
   background-color: #c4c4c4;
   width: 661px;
   height: 763px;
   text-align: center;
}

.search-input {
   margin-top: 62px;
   width: 500px;
   height: 61px;
   font-size: 48px;
}

.repositoryList__element {
   background: #e3e3e3;
   margin-left: 38px;
   border: 2px solid black;
   font-size: 30px;
   list-style-type: none;
   width: 500px;
   display: block;
   text-align: start;
}

.repositoryList__element_textSearch {
   margin-left: 16px;
}

.saveContainer__element {
   background-color: #e27beb;
   width: 503px;
   height: 83px;
   border: 1px solid black;
   margin-left: 36px;
   list-style-type: none;
   display: flex;
}

.saveContainer__element_card-text {
   flex-basis: 80%;
   font-size: 24px;
   text-align: start;
   margin-left: 16px;
}

.saveContainer__element_card-btn {
   flex-basis: 20%;
}

.repository-wrapper ul {
   margin-top: 0;
}

.elem__repl_team-search:hover {
   background-color: #65cdf9;
}

.btn {
   width: 40px;
   height: 40px;
   background-image: url("../image/vector7.svg"), url("../image/vector8.svg");
   background-repeat: no-repeat;
   background-position: center;
   border: 0;
   background-color: #e27beb;
   margin-top: 20px;
}
